{% extends "layout.html.twig" %}

{% block title 'admin' %}
{% block content %}
	<h3>{{username}}</h3>
	<form action="#" method="post">
		{{ form_widget(form) }}

		<input type="submit" name="submit" />
	</form>
	<a class="btn btn-default" role="button" href="/admin/">Back</a>
{% endblock %}
