{% extends "layout.html.twig" %}

{% block title 'index' %}
{% block content %}
    Welcome to your new Silex Application!

    <a class="btn btn-info" href="/user">User Bereich</a>
    <a class="btn btn-warning" href="/admin">Admin Bereich</a>
{% endblock %}
