<!DOCTYPE html>
<html>
    <head>
        <title>{% block title '' %} - My Silex Application</title>

        <style>
			table, th, td {
				border: dashed black 1px;
			}
		</style>
    </head>
    <body>
        {% block content %}{% endblock %}
    </body>
</html>
