{% extends "layout.html.twig" %}

{% block title 'recovery' %}
{% block content %}
    <section>
        <div class="row">
            <form action="#" method="post">
                {{ form_widget(form) }}

                <input type="submit" name="submit" />
            </form>
        </div>
    </section>
{% endblock %}