{% extends "layout.html.twig" %}

{% block title 'user' %}
{% block content %}
	<section>
		<div class="row">
			<h3>{{username}}</h3>
		</div>
		<div class="row">
			<form action="#" method="post">
                {{ form_widget(form) }}

				<input type="submit" name="submit" />
			</form>
		</div>
	</section>
{% endblock %}
